# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# ==== ALLOW BUILDS BELOW THIS LINE ====

# Allow Windows Release build
!build/windows/
!build/windows/x64/
!build/windows/x64/runner/
!build/windows/x64/runner/Release/
!build/windows/x64/runner/Release/**

# Allow Android APKs
!build/app/
!build/app/outputs/
!build/app/outputs/flutter-apk/
!build/app/outputs/flutter-apk/*.apk

# Allow Android App Bundles (AAB)
!build/app/outputs/bundle/
!build/app/outputs/bundle/**/*
!build/app/outputs/bundle/**/*.aab